<ion-content class="landing-page">
  <div class="language-selector">
    <ion-button (click)="toggleLanguageMenu()" class="language-button">
      <img [src]="currentLanguage === 'es' ? '../../../assets/icon/espana.png' : '../../../assets/icon/en.png'" alt="language" class="language-icon" />
    </ion-button>
  
    <div class="language-dropdown" *ngIf="isLanguageMenuOpen">
      <div class="language-option" (click)="changeLanguage('es')">
        <img src="../../../assets/icon/espana.png" alt="Español" class="language-icon" />
        <span>{{ 'BotonEs' | translate }}</span>
      </div>
      <div class="language-option" (click)="changeLanguage('en')">
        <img src="../../../assets/icon/en.png" alt="Inglés" class="language-icon" />
        <span>{{ 'BotonEn' | translate }}</span>
      </div>
    </div>
  </div>
  
  

  <div class="columns">
    <!-- Entrenamientos -->
    <div class="column" (click)="navigateToNextPage()">
      <div class="column-content fancy-hover" style="background-image: url('assets/images/trainings.jpg')">
        <h2>{{ 'ENTRENAMIENTO' | translate }}</h2>
        <p>{{ 'TextEntrenamiento' | translate}}</p>
      </div>
    </div>

    <!-- Sesiones -->
    <div class="column" (click)="navigateToNextPage()">
      <div class="column-content fancy-hover" style="background-image: url('assets/images/sessions.jpg')">
        <h2>{{ 'SESIONES' | translate }}</h2>
        <p>{{ 'TextSesiones' | translate}}</p>
        
      </div>
    </div>

    <!-- Roles de Usuarios -->
    <div class="column" (click)="navigateToNextPage()">
      <div class="column-content fancy-hover" style="background-image: url('assets/images/roles.jpg')">
        <h2>{{ 'Roles' | translate }}</h2>
        <p>{{ 'TextRoles' | translate}}</p>
      </div>
    </div>
  </div>
</ion-content>
