<ion-content class="landing-page">
  <div class="language-selector">
    <ion-button size="small" color="primary" shape="round">🌍</ion-button>
    <ion-select (ionChange)="changeLanguage($event.detail.value)">
    <ion-select-option value="en">{{ 'BotonEn' | translate }}</ion-select-option>
    <ion-select-option value="es">{{ 'BotonEs' | translate }}</ion-select-option>
  </ion-select>
  </div>
  
  

  <div class="columns">
    <!-- Entrenamientos -->
    <div class="column" (click)="navigateToNextPage()">
      <div class="column-content fancy-hover" style="background-image: url('assets/images/trainings.jpg')">
        <h2>{{ 'ENTRENAMIENTO' | translate }}</h2>
        <p>{{ 'TextEntrenamiento' | translate}}</p>
      </div>
    </div>

    <!-- Sesiones -->
    <div class="column" (click)="navigateToNextPage()">
      <div class="column-content fancy-hover" style="background-image: url('assets/images/sessions.jpg')">
        <h2>{{ 'SESIONES' | translate }}</h2>
        <p>{{ 'TextSesiones' | translate}}</p>
        
      </div>
    </div>

    <!-- Roles de Usuarios -->
    <div class="column" (click)="navigateToNextPage()">
      <div class="column-content fancy-hover" style="background-image: url('assets/images/roles.jpg')">
        <h2>{{ 'Roles' | translate }}</h2>
        <p>{{ 'TextRoles' | translate}}</p>
      </div>
    </div>
  </div>
</ion-content>
