<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>{{ 'LoginModal.Title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="login-modal-content">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <!-- Correo Electrónico -->
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input
        placeholder="{{ 'LoginModal.EmailPlaceholder' | translate }}"
        type="email"
        formControlName="email"
      ></ion-input>
    </ion-item>
    <div class="error" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
      <small *ngIf="loginForm.get('email')?.errors?.['required']">{{ 'LoginModal.EmailRequired' | translate }}</small>
      <small *ngIf="loginForm.get('email')?.errors?.['email']">{{ 'LoginModal.EmailInvalid' | translate }}</small>
    </div>

    <!-- Contraseña -->
    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input
        placeholder="{{ 'LoginModal.PasswordPlaceholder' | translate }}"
        [type]="passwordVisible ? 'text' : 'password'"
        formControlName="password"
      ></ion-input>
      <ion-icon
        slot="end"
        [name]="passwordVisible ? 'eye-off' : 'eye'"
        (click)="togglePasswordVisibility()"
      ></ion-icon>
    </ion-item>
    <div class="error" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
      <small *ngIf="loginForm.get('password')?.errors?.['required']">{{ 'LoginModal.PasswordRequired' | translate }}</small>
      <small *ngIf="loginForm.get('password')?.errors?.['minlength']">{{ 'LoginModal.PasswordMinLength' | translate }}</small>
    </div>

    <!-- Botón de Iniciar Sesión -->
    <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">
      {{ 'LoginModal.LoginButton' | translate }}
    </ion-button>
  </form>

  <!-- Enlace para abrir el modal de registro -->
  <div class="register-link">
    <p>
      {{ 'LoginModal.NoAccount' | translate }}
      <a (click)="openRegisterModal()" class="register-link-text">{{ 'LoginModal.RegisterHere' | translate }}</a>
    </p>
  </div>
</ion-content>
