.error small {
    color: red;
    margin-left: 15px;
  }
  
  .register-link {
    margin-top: 20px;
    text-align: center;
  }
  
  .register-link span {
    color: var(--ion-color-primary);
    cursor: pointer;
  }
  