<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>{{tituloModal}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="create-modal-content">
  <form [formGroup]="entrenamientoForm" (ngSubmit)="crearEntrenamiento()">
    <!-- Nombre -->
    <ion-item>
      <ion-icon name="clipboard-outline" slot="start"></ion-icon>
      <ion-input placeholder="Nombre del entrenamiento" formControlName="nombre" required></ion-input>
    </ion-item>
    <div class="error" *ngIf="entrenamientoForm.get('nombre')?.invalid && entrenamientoForm.get('nombre')?.touched">
      <small>El nombre es obligatorio.</small>
    </div>

    <!-- Descripción -->
    <ion-item>
      <ion-icon name="document-text-outline" slot="start"></ion-icon>
      <ion-textarea placeholder="Descripción" formControlName="descripcion" required></ion-textarea>
    </ion-item>
    <div class="error" *ngIf="entrenamientoForm.get('descripcion')?.invalid && entrenamientoForm.get('descripcion')?.touched">
      <small>La descripción es obligatoria.</small>
    </div>

    <!-- Fecha -->
    <ion-item>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-datetime formControlName="fecha" placeholder="Fecha" displayFormat="YYYY-MM-DD"></ion-datetime>
    </ion-item>
    <div class="error" *ngIf="entrenamientoForm.get('fecha')?.invalid && entrenamientoForm.get('fecha')?.touched">
      <small>La fecha es obligatoria.</small>
    </div>

    <!-- Botón de Crear -->
    <ion-button expand="block" type="submit" [disabled]="!entrenamientoForm.valid">
      {{ textoBoton }}
    </ion-button>
  </form>

  <!-- Drag and Drop para subir imagen -->
<div
class="drag-and-drop"
(dragover)="onDragOver($event)"
(dragleave)="onDragLeave($event)"
(drop)="onDrop($event)"
[class.dragging]="isDragging"
(click)="fileInput.click()"
>
<ion-icon name="cloud-upload-outline"></ion-icon>
<p *ngIf="!imagenSeleccionada">Arrastra y suelta una imagen aquí, o haz clic para seleccionar una</p>
<img *ngIf="imagenPreview" [src]="imagenPreview" alt="Vista previa de imagen" />
<input type="file" hidden (change)="onFileSelected($event)" #fileInput />
</div>
<div class="error" *ngIf="errorImagen">
<small>{{ errorImagen }}</small>
</div>

</ion-content>
