<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>{{ 'RegisterModal.Title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="register-modal-content">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <!-- Nombre Completo -->
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input
        placeholder="{{ 'RegisterModal.FullNamePlaceholder' | translate }}"
        type="text"
        formControlName="fullName"
      ></ion-input>
    </ion-item>
    <div class="error" *ngIf="registerForm.get('fullName')?.invalid && registerForm.get('fullName')?.touched">
      <small *ngIf="registerForm.get('fullName')?.errors?.['required']">{{ 'RegisterModal.FullNameRequired' | translate }}</small>
    </div>

    <!-- Correo Electrónico -->
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input
        placeholder="{{ 'RegisterModal.EmailPlaceholder' | translate }}"
        type="email"
        formControlName="email"
      ></ion-input>
    </ion-item>
    <div class="error" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
      <small *ngIf="registerForm.get('email')?.errors?.['required']">{{ 'RegisterModal.EmailRequired' | translate }}</small>
      <small *ngIf="registerForm.get('email')?.errors?.['email']">{{ 'RegisterModal.EmailInvalid' | translate }}</small>
    </div>

    <!-- Contraseña -->
    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input
        placeholder="{{ 'RegisterModal.PasswordPlaceholder' | translate }}"
        [type]="passwordVisible ? 'text' : 'password'"
        formControlName="password"
      ></ion-input>
      <ion-icon
        slot="end"
        [name]="passwordVisible ? 'eye-off' : 'eye'"
        (click)="togglePasswordVisibility('password')"
      ></ion-icon>
    </ion-item>
    <div class="error" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
      <small *ngIf="registerForm.get('password')?.errors?.['required']">{{ 'RegisterModal.PasswordRequired' | translate }}</small>
      <small *ngIf="registerForm.get('password')?.errors?.['minlength']">{{ 'RegisterModal.PasswordMinLength' | translate }}</small>
    </div>

    <!-- Repetir Contraseña -->
    <ion-item>
      <ion-icon name="repeat-outline" slot="start"></ion-icon>
      <ion-input
        placeholder="{{ 'RegisterModal.RepeatPasswordPlaceholder' | translate }}"
        [type]="repeatPasswordVisible ? 'text' : 'password'"
        formControlName="repeatPassword"
      ></ion-input>
      <ion-icon
        slot="end"
        [name]="repeatPasswordVisible ? 'eye-off' : 'eye'"
        (click)="togglePasswordVisibility('repeatPassword')"
      ></ion-icon>
    </ion-item>
    <div class="error" *ngIf="registerForm.get('repeatPassword')?.invalid && registerForm.get('repeatPassword')?.touched">
      <small *ngIf="registerForm.get('repeatPassword')?.errors?.['required']">{{ 'RegisterModal.RepeatPasswordRequired' | translate }}</small>
      <small *ngIf="registerForm.get('repeatPassword')?.errors?.['mustMatch']">{{ 'RegisterModal.PasswordsMustMatch' | translate }}</small>
    </div>

    <!-- Botón de Registrarse -->
    <ion-button expand="block" type="submit" [disabled]="registerForm.invalid">
      {{ 'RegisterModal.RegisterButton' | translate }}
    </ion-button>
  </form>

  <!-- Enlace para abrir el modal de login -->
  <div class="login-link">
    <p>
      {{ 'RegisterModal.AlreadyHaveAccount' | translate }}
      <a (click)="openLoginModal()" class="login-link-text">{{ 'RegisterModal.LoginHere' | translate }}</a>
    </p>
  </div>
</ion-content>
