ion-content {
    --background: none; /* Deshabilita el fondo por defecto */
    background: url('../../../assets/images/fondo.jpg') no-repeat center center / cover;
    /* Otras propiedades, si deseas */
    position: relative;
  }
  
  
  ion-content::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.5); /* Semitransparente */
    pointer-events: none; /* Permite interacción con el contenido */
  }

.entrenadores-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
  }
  
  .entrenador-card {
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
  }
  
  .entrenador-card:hover {
    transform: scale(1.05);
  }
  
  ion-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 4px solid var(--ion-color-primary);
  }
  
  ion-card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  ion-card-subtitle {
    font-size: 0.9rem;
  }
  