ion-content {
  padding: 1rem;
  background: #f9f9f9; 
}

.trainings-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem; 
  margin-top: 1rem; 
}

ion-card {
  width: 320px; 
  height: auto;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-bottom: 1rem; 
  transition: transform 0.2s, box-shadow 0.2s; 

  img {
    width: 100%;
    height: 150px; 
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  ion-card-header {
    text-align: left;
    padding: 0.5rem 1rem;
  }

  ion-card-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0.2rem;
  }

  ion-card-subtitle {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 0.5rem;
  }

  ion-card-content {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    color: #333; 
    text-align: justify;
    line-height: 1.4;
    word-spacing: normal; 
  }

  .card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;

    ion-button {
      font-size: 0.8rem;
      border-radius: 5px; 
      color: #ffffff; 
      --background: #e0e0e0; 
    }

    ion-button[color="danger"] {
      --background: var(--ion-color-danger);
    }

    ion-button[color="secondary"] {
      --background: var(--ion-color-secondary);
    }
  }

  &:hover {
    transform: scale(1.03); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
  }
}

/* Botón flotante */
ion-fab {
  position: fixed !important; 
  bottom: 1rem; 
  left: 1rem !important;

  ion-fab-button {
    --background: var(--ion-color-primary); 
    --color: #ffffff; 
    box-shadow: none; 
    opacity: 0.8; 
    transition: opacity 0.2s ease-in-out; 
  }

  ion-fab-button:hover {
    opacity: 1;
  }
}


/* Responsive */
@media (min-width: 768px) {
  ion-card {
    width: 300px; /* Cards ligeramente más anchas en pantallas medianas */
  }
}

@media (min-width: 1024px) {
  ion-card {
    width: 280px; /* Cards más anchas en pantallas grandes */
  }
}
