<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>{{ tituloModal }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="create-modal-content">
  <form [formGroup]="sesionForm" (ngSubmit)="sesion ? actualizarSesion() : crearSesion()">
    <ion-item>
      <ion-icon name="clipboard-outline" slot="start"></ion-icon>
      <ion-input formControlName="nombre" placeholder="{{'NombreSesion' | translate}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="toggle-outline" slot="start"></ion-icon>
      <ion-label>{{'Estado' | translate}}</ion-label>
      <ion-toggle formControlName="estado"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-icon name="people-outline" slot="start"></ion-icon>
      <ion-label>{{'Entrenador'  | translate}}</ion-label>
      <ion-select formControlName="entrenador" placeholder="{{'SelecEntrenador' | translate}}">
        <ion-select-option *ngFor="let entrenador of entrenadores" [value]="entrenador.id">
          {{ entrenador.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon name="barbell-outline" slot="start"></ion-icon>
      <ion-label>{{'Entrenamiento' | translate}}</ion-label>
      <ion-select formControlName="entrenamiento" placeholder="{{'SelecEntrenamiento' | translate}}">
        <ion-select-option *ngFor="let entrenamiento of entrenamientos" [value]="entrenamiento.id">
          {{ entrenamiento.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon name="person-add-outline" slot="start"></ion-icon>
      <ion-label>{{'Jugadores' | translate}}</ion-label>
      <ion-select formControlName="jugadores" multiple="true" placeholder="{{'SelecJugadores' | translate}}">
        <ion-select-option *ngFor="let jugador of jugadores" [value]="jugador.id">
          {{ jugador.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="sesionForm.invalid">
      {{ textoBoton }}
    </ion-button>
  </form>

  <div
    class="drag-and-drop"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
    (click)="fileInput.click()"
  >
    <ion-icon name="cloud-upload-outline"></ion-icon>
    <p *ngIf="!imagenSesion">{{'DragDrop' | translate}}</p>
    <img *ngIf="imagenSesion" [src]="imagenSesion" alt="Vista previa de la imagen" />
    <input
      type="file"
      accept="image/*"
      hidden
      #fileInput
      (change)="onFileSelected($event)"
    />
  </div>
</ion-content>
